pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
spacy
streamlit
requests
beautifulsoup4
datetime
python-dotenv
typing.List
scipy.cluster.hierarchy
sklearn.metrics.pairwise
plotly
